*{

    --secondary-green:#4ac8ae;
    --primary-green:#f2fffb;
    --light-green:#d8fff3;
    padding:0rem;
    margin:0rem;

}

body{

    /* background-image: url('/src/media/CodersDenBackgroundImage.svg'); */
    background-color: var(--primary-green);
    
}

.hero-section{

    height:100vh - 100px;
    padding:8rem 5rem;
    /* width:100vw; */

}

.hero_btns{

    display:flex;
    flex-direction:row;
    gap:1.5rem;

}

#contributeNotesBtn{

    color:whitesmoke;
    background-color: var(--secondary-green);
    font-weight:600;

}

#notesBtn{

    color:var(--secondary-green);
    background-color: var(--light-green);
    font-weight:600;

}

#highlight_heading{

    color:var(--secondary-green);
    font-size:3rem;
    font-weight:600;

}

.heading{

    font-size:3rem;
    font-weight: 600;
    /* margin-left:5rem; */
    /* margin-top:9rem; */

}

.hero_stickers{

    display:flex;
    flex-direction:row;
    gap:1rem;
    margin-top:2rem;

}

.sticker > p{

    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:.5rem;
    padding:0px;
    margin:0px;

}