/* html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 2vh 2vh 2vh 2vh;
    margin: 0%;
    padding: 0%;
    display: i;
}

.submitnotes {
    box-sizing: border-box;
    box-shadow: #000000BF 4px 6px 0px 2px;
    border-color: rgb(0, 0, 0);
    border-width: 1.7vh;
    border-style: double;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    background-color: rgb(167, 201, 233);
    display: inline-flex;

}

.contributenotes {
    padding: 2vh 2vh 2vh 2vh;
    align-items: center;
}

fieldset {
    border-color: rgb(0, 0, 0);
    border-width: 1.5vh;
    border-style: double;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}

fieldset legend {
    text-align: justify;
    font-size: 3vh;
    font-family: 'Arial Narrow Bold';
}

.foralign {
    display: grid;
}

#griditem {
    display: flex;
    justify-content: center;
    align-content: center;
} */

.contributenotes{

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    

    /* border:2px solid black; */

}

.griditem{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap:1rem;
    margin:1rem;

}

#contribute_notes_title{

    font-size:2rem;
    margin-top: 2rem;

}

#domain_select_title{

    font-size:20px;

}

#domain_selection{

    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: center;
    gap:1.5rem;

}

.domain_radio{

    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin:1rem 0rem;
    gap:2rem;
    font-weight:600;
    list-style-type: none;


}

#notes_upload_title{

    font-size:1.2rem;

}

#notes_upload{

    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap:2rem;

}

#notes_upload>li{

    font-weight:600;

}

#upload_types{

    list-style-type: none;
    display:flex;
    flex-direction: row;
    font-size:1.1rem;
    gap:2rem;

}

#notes_desc{

    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items:top;
    justify-content: center;
    gap:2rem;

}

#notes_desc>li textarea{

    text-align: center;

}

.hidden {

    display:none;

}





