*{

    margin:0px;
    padding:0px;

}

#navbar{

    margin-inline:2rem;

}

#navbarNav{

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border:2px solid black;
    border-radius:.5rem;
    padding:1rem;

}

#credentials_modal{

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

#credentials_signup_title, #credentials_login_title{

    font-size:1.5rem;
    font-weight:bold;

}

#credentials_signup_google_btn,#credentials_signup_email_btn,#credentials_login_google_btn, #credentials_login_email_btn{

    font-size:1.1rem;
    font-weight:1.3rem;
    padding:1rem;
    border-radius:2rem;

}

#hero_container{

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:60vh;
}

#hero_title{

    font-size:2.5rem;

}

#hero_subtitle{

    font-size:1.2rem;

}

.hero_buttons{

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:2rem;

}

#hero_btn_1 , #hero_btn_2{

    padding:.8rem;
    border-radius:2rem;
    margin-top:2rem;

}

#upcoming_events_carousal{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

#event_carousal_title{

    font-size:2rem;

}

.event_carousal{

    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:2.5rem;

}

#footer_container{

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top:3.5rem;

}

#footer_title{

    font-size: 2rem;

}

#footer_subtitle{

    font-size:1.2rem;

}

#footer_form{

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    font-size:1.1rem;

}