@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@media screen and (min-width:720px){
    
    #about_heading{
        
        font-size:3rem;
    }

    .about_container{

        margin:4rem 8rem;
        /* border-radius: 10px; */

    }

    #about_section{

        padding: 2rem;

    }

    .social_media a{

        border-radius:5px;

    }

    .connect_with_devs{

        margin:0rem 4rem 2rem 4rem;
        padding:1rem 0rem 2rem 1rem;

    }
    
}

@media screen and (max-width:420px) and (min-width:320px){

    #about_heading{

        font-size:2rem;

    }

    .about_container{

        margin:4rem 2rem;
        /* border-radius:10px; */

    }

    #about_section{

        padding: 2rem;

    }

    .social_media a{

        border-radius:5px;

    }

    .connect_with_devs{

        margin:0rem 2rem 2rem 2rem;
        padding:1rem 1rem 2rem 1rem;
        border-radius:5px;

        /* width:50%; */

    }


}